<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Sample Node Express Site</title>
	</head>
	<body>
		<header>
			<img src="/img/logo-node-ltgreen-150w.png" alt="website logo">
		</header>
		{{{body}}}
	</body>
</html>
